<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461639416996-s3idqnric1fvsjjq863e8f0torstdua6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461639416996-s3idqnric1fvsjjq863e8f0torstdua6</string>
	<key>API_KEY</key>
	<string>AIzaSyArI83jHO8FaiHBiDmGxq4zLC98SOHQyJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>461639416996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>habits-of-a-happy-brain</string>
	<key>STORAGE_BUCKET</key>
	<string>habits-of-a-happy-brain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461639416996:ios:eab543acf3f01ce36d7a31</string>
	<key>DATABASE_URL</key>
	<string>https://habits-of-a-happy-brain-default-rtdb.firebaseio.com</string>
</dict>
</plist>